@model List<Product>

<h2>Product List</h2>
<h2>@User.Identity.Name</h2>
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Color</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Color</td>
                <td>@product.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@product.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>
